.search-bar{
    width: 50%;
    margin-left: 25%;
    padding-top: 100px;
    input{
        width: 100%;
        border-radius: 45px;
        height: 50px;
        outline: none;
        box-shadow: none;
    }
}

